body {

	font-family: ;
	
}

img {
	
	text-align: center;
	
}

nav ul {
	
	list-style:none;
	
}

nav ul li {
	
	display: inline-block;
	
}

.banner {
	
	margin: auto;
	width: 900px;
	height: 200px;
	margin: 10px;
	background-image:url(http://i.cubeupload.com/kXbK11.png);
	
}