body {

	font-family: 'Happy Monkey', cursive;
	background-color: #FFB266;
	
}

img {
	
	text-align: center;
	
}

nav ul {
	
	list-style:none;
	
}

nav ul li {
	
	display: inline-block;
	
}

.container {
	
	width: 900px;
	height: 1000px;
	margin: auto;
	background-color: #FF9933;
	padding: 10px;
	
}

h1 {
	
	text-align: center;
	
}