html, body {
	
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
	font-size: 18px;
	
}

.container {
	
	background-color: #ccc;
	width: 40%;
	height: 92%;
	padding: 2% 5%;
	position: static;
	margin: auto;
	
}

.title {
	
	font-size: 36px;
	
}

h1 {
	
	font-size: 72px;
	
}