@import url("/fonts.css")

html, body {
	
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
}

.container {
	
	background-color: #ccc;
	width: 40%;
	height: 100%;
	padding: 10px;
	position: static;
	margin: auto;
	
}

div {
	
	font-size: 36px;
	
}